/*dark grey #2F3025
red #D10423
 turq #71B68C
 beige #EBD9AB
maroon #410000 */

/*fonts */
/*heading*/
@import url(https://fonts.googleapis.com/css?family=Flamenco);
/*paragraphs*/
@import url(https://fonts.googleapis.com/css?family=Asap);



header div {
  float: left;
}
header #logging_out {
  float: right
}
header {
  border: 1px dashed black;
  height: 50px;
  font-family: "Asap";
}
 #nav {
   clear: both;
   border: 1px dashed black;
 }

 #nav h2{
   float: left;
   margin: 0;
   font-family: "Flamenco";
 }

 #searching {
   float: left;
 }
 #content {
   clear: both;
   border: 1px dashed black;
 }
 .item_info {
   float: right;
 }

 footer {
   clear: both;
   border: 1px dashed black;
 }
